
.MuiStepConnector-root {
  position: absolute;
  margin-left: -5px;
  width: 15px !important;

}
.MuiStepLabel-labelContainer{
display: none !important;
}
.MuiStepper-root{
background-color: transparent !important;
padding: 0 !important;
}