@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";
body {
  color: #444851;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.tabs-container {
  border-bottom: solid 1px #f1f1f1 !important;
  display: flex;
  flex-direction: row;
}

.tab-text {
  font-size: 14px !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  text-transform: none !important;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.tab-item {
  display: flex;
  text-decoration: none;
  color: #7c8a97;
}
.active-link {
  border-bottom: solid 3px #f89523;
  color: #222;
}
.tab-icon {
  font-size: 17px !important;
  margin-right: 8px;
}
.Mui-selected {
  color: #444851 !important;
}
.tab-panel-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 24px;
}

.text-normal {
}
.fz-20 {
  font-size: 20px;
}
.header-text-primary {
  font-size: 18px;
  color: #444851;
  font-weight: 300;
}
.header-text-secondary {
  font-size: 14px;
  color: #a0aeba;
  font-weight: 300;
  line-height: 2.1;
}
.header-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text-container {
  display: flex;
  flex-direction: column;
}
.content-container {
}
.mt-normal {
  margin-top: 20px;
}
.status {
}
.add-btn {
  display: flex !important;
  width: 150px !important;
  justify-content: space-evenly !important;
  text-transform: none !important;
  border: solid 1px #eeeeee !important;
}
.success-color {
  color: #2ca01d;
}
.danger-color {
  color: #fc865b;
}
.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.display-even {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-500 {
  height: 500px;
}
.p-normal {
  padding: 15px !important;
}
.pb-normal {
  padding: 15px !important;
}
.pt-normal {
  padding: 15px !important;
}

.bg-default {
  background-color: #f89523 !important;
}

.footer-text {
  font-size: 12px;
  font-weight: normal;
}

.MuiTabs-indicator {
  background-color: #0f97fc !important;
  height: 3px !important;
}

.Mui-checked {
  color: #0f97fc !important;
}
.MuiTypography-body1 {
  font-weight: bold !important;
}
